{% extends 'shop/base.html' %}
{% block content %}
<div class="content">
    {% for item in items %}
    <div class="finish-msg">ご購入ありがとうございました。</div>
    <div class="cart-list-title">
        <span class="cart-list-price"></span>
        <span class="cart-list-num"></span>
    </div>
    <ul class="cart-list">
        <li>
            <div class="cart-item">
                <img class="cart-item-img" src="/{{ item.item.image }}">

                <span class="cart-item-name">{{item.item.name}}</span>
                <span class="cart-item-price">¥{{item.item.price}}</span>
                <span class="finish-item-price">数量：{{item.amount}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="buy-sum-box">
        <span class="buy-sum-title">合計</span>
        <span class="buy-sum-price">¥{{sum_price}}</span>
    </div>
</div>
{% endblock %}